.logoutbttn {
    margin-bottom: 100px;
    
}

.checkin {
    margin-left: 10px;
}

.checkout {
    margin-left: 10px;
    
}

.openBttn {
    background-color:bisque;
    
}

.openUp {
    color: #112733;
}

